@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
    color: rgb(187, 54, 54);
}


nav {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0%;
    z-index: 1;
}

header li {
    float: left;
    font-size: 1.2em;
    margin-block-end: 10px;
    margin-right: 50px;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#profil {
    font-weight: bold;
    float: right;
}

#bodysondage {
    background: url(./images/bg.jpg) center/cover;
    height: auto;
    position: static;
}
#bodyequipes {
    background: url(./images/bgequipe.jpg);
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(187, 54, 54);
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}

#bodysondage h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(187, 54, 54);
    text-shadow: 1px 3px 2px black;
}

.poules {
    background: whitesmoke;
    width: 15%;
    margin-left: 30px;
    height: 300px;
    font-size: larger;
    line-height: 50px;
    position: left;
    border-radius: 15%;
    padding: 20px 10px;
    box-shadow: 8px 6px 6px 6px rgb(22, 6, 6);
    margin-bottom: 50px;
}
.listematch {
    display: flex;
    width: 87%;
    list-style: none;
    justify-content: space-between;
}
textarea {
    resize: none;

}
#formulairesondage1 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 30%;
    bottom: 55%;
    left: 20%;
    right: 15%;
    float: left;
}
.commentairegroupe {
    margin-top: 20px;
}
#formulairesondage2 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 72%;
    bottom:13%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage3 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 113%;
    bottom:-28%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage4 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 155%;
    bottom: -70%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage5 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 197%;
    bottom: -112%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage6 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 239%;
    bottom: -154%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage7 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 281%;
    bottom: -196%;
    left: 20%;
    right: 15%;
    float: left;
}
#formulairesondage8 {
    background: whitesmoke;
    font-size: large;
    position: absolute;
    top: 323%;
    bottom: -238%;
    left: 20%;
    right: 15%;
    float: left;

}

#bodyequipes main {
    margin: 20px 10% 5% 10%;
    padding: 10px 20% 20% 20%;
    height: 5000px;
    background: white;
    border-radius: 20px;
    position: relative;
}

#bodyequipes div {
    width: auto;
}

#bodyequipes h2 {
    margin-top: 130px;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    text-align: center;
    color: rgb(187, 54, 54);
    text-shadow: 1px 3px 2px black;
}
#bodyequipes h3 {
    text-align: center;
    font-size: 3rem;
    padding-top: -100px;
}
#poulea {
    font-size: 2rem;
    line-height: 100px;
}
#pouleb {
    font-size: 2rem;
    line-height: 100px;
}
#poulec {
    font-size: 2rem;
    line-height: 100px;
}
#pouled {
    font-size: 2rem;
    line-height: 100px;
}
#poulee {
    font-size: 2rem;
    line-height: 100px;
}
#poulef {
    font-size: 2rem;
    line-height: 100px;
}
#pouleg {
    font-size: 2rem;
    line-height: 100px;
}
#pouleh {
    font-size: 2rem;
    line-height: 100px;
}

#bodyequipes div a {
    text-decoration: none;
    color: black;

}
#bodyequipes div ul {
    padding: 5% 5% 5% 5%;
}
.imagedrapeau {
    width: 180px;
    height: 85px;
    float: right;
    border: 1px solid black;
   
}

.poulesequipes {
    list-style: none;
}